.buton {
  background-color: blue;

  color: white;
  padding: 11px;
  border: 1px;
}
*{
  margin: 0px;
  padding: 0px;
}
.main {
  height: 300px;
}
ul li a{
  font-size: 25px;
}
.na {
  font-size: 30px;
}